.partners {
  padding: 4.8rem 0 5rem;

  &__title {
    margin: 0 0 5rem;
  }

  &__link {
    text-decoration: none;
    color: $logos;
    transition: color .2s ease-in-out;

    &:hover {
      color: $darkPurple;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-start;
    gap: 16.8rem;
    margin: 0 0 7rem;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 15.2rem;
  }
}
